* {
    font-family: IBM Plex Sans;
    font-feature-settings: 'clig' off, 'liga' off;
}

nz-header {
    display: flex;
    justify-content: space-between;
    background-color: white !important;
    background: fixed;
    align-items: center;
    padding: 20px 80px !important;
    box-shadow: 0px 0px 10px 0px rgba(28, 39, 49, 0.03);
}
.dropdown-but {
    height: 40px;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid var(--black-black-100, #E6E6E6);
    background-color: white;
  }
  
  .fi {
    width: 28px;
    height: 16px;
  }
  
  .language {
    color: var(--black-black, #212121);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

nz-content {
    padding: 170px 80px;
    background-color: rgba(248, 249, 251, 1);
}

.row {flex-wrap: nowrap !important;}

/* .hide {
    // background: radial-gradient(52.55% 50% at 50% 50%, rgba(94, 110, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    transform: scaleX(-1);
} */
@media (min-width:1024px) {
    .hide{
        position: relative;
        z-index: 1;
    }
        .hide::before {
            content: "";
            position: absolute;
            left: -63px;
            top: -28px;
            background: radial-gradient(52.55% 50% at 50% 50%, rgba(94, 158, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
            filter: blur(117px);
            z-index: 5;
            width: 435px;
            height: 435px;
            border-radius: 435px;
        }
    }
    
    ::ng-deep .ant-col-offset-4.ant-col-rtl{
        padding: 0;
    }

.hide img {
    margin-top: 77px;
    width: 100%;
}

nz-card {background-color: rgba(248, 249, 251, 1);}

.form-card {
    background-color: white;
    padding: 34px !important;
    border-radius: 12px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    margin-bottom: 24px;
}

.first-login {
    color: var(--black-black, #212121);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
    text-align: initial;
}

.first-welcome {
    color: var(--black-black-800, #4D4D4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: initial;
}

nz-form-item {margin: 0 0 8px;}

.label {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0px !important;
    color: #212121 !important;
}

::ng-deep .ant-form-item-label>label{
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0px !important;
    color: #212121 !important;
}
.input- {
    height: 50px;
    padding: 0 11px !important;
    border-radius: 5px;
}

.code-span {
    color: var(--black-black-700, #636363);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.form-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
    align-self: stretch;
    margin-top: 58px;
}

.next-button {
    display: flex;
    width: 90px;
    height: 48px;
    padding: 17.5px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--primary-primary, #1975FF);
}

.back-button {
    display: flex;
    width: 90px;
    height: 48px;
    padding: 17.5px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--black-black-100, #E6E6E6);
}
::ng-deep .ant-col-xl-12{
    padding: 0;
}

@media (max-width:912px) {
    .hide {
        display: none;
    }
    nz-header{
        padding: 16px 40px !important;
    }

    .img {
        display: none;
    }

    .unhide {
        margin-left: 0 !important;
        padding: 0;
    }

    nz-content {
        padding: 136px 136px 300px 136px
    }
}

@media (max-width:540px) {
    nz-header{
        padding: 16px 20px !important;
    }
    nz-content {
        padding: 0
    }

    .form-card {
        border-radius: 0;
        padding: 0 !important;
    }

    ::ng-deep .ant-card-body {
        padding: 40px 20px 300px 20px;
    }

    .form-buttons {
        flex-direction: column;
        margin-top: 24px;
    }

    .next-button,
    .back-button {
        width: 100%;
    }

    .unhide {
        padding: 0 12px;
    }
    
}

nz-layout[dir="rtl"] .hide {
    transform: unset;
}

nz-layout[dir="rtl"] .ant-form-vertical .ant-form-item-label {
    text-align: right;
}

nz-layout[dir="rtl"] ::ng-deep .ant-col-offset-4 {
    margin-right: 16.66666667%;
}
