<nz-layout [dir]="isRtl ? 'rtl' : 'ltr'">
    <nz-header>
        <div class="logo">
            <img nz-image nzSrc="assets/images/logo.png" alt="logo">
        </div>
        <button class="dropdown-but" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <span class="fi" [ngClass]="getFlagIconClass()"></span>
            <span class="language">{{ isRtl ? 'العربية' : 'En' }}</span>
            <span nz-icon nzType="down" nzTheme="outline"></span>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="switchToRtl('en')"><span class="fi fi-us fis"></span>En</li>
              <li nz-menu-item (click)="switchToRtl('ar')"> <span class="fi fi-sa fis"></span>العربية</li>
              <li nz-menu-item><span class="fi fi-fr fis"></span>French</li>
              <li nz-menu-item><span class="fi fi-de fis"></span>German</li>
              <li nz-menu-item><span class="fi fi-it fis"></span>Italian</li>
              <li nz-menu-item><span class="fi fi-cn fis"></span>Chinese</li>
            </ul>
          </nz-dropdown-menu>
    </nz-header>

    <nz-content>
        <div nz-row class="row">

            <div class="unhide" nz-col nzLg="12" nzXl="12">
                <nz-card class="form-card">
                    <form nz-form nzLayout="vertical" class="login-form" [formGroup]="validateForm"
                        (ngSubmit)="submitForm()">
                        <div class="first">
                            <span class="first-login">Forget password?</span>
                            <span class="first-welcome">Please enter your email to reset your password</span>
                        </div>
                        <nz-form-item>
                            <nz-form-label class="label" nzFor="email">E-mail</nz-form-label>
                            <nz-form-control nzErrorTip="The input is not valid E-mail!">
                                <input class="input-" nz-input formControlName="email" id="email" />
                            </nz-form-control>
                        </nz-form-item>
                        <span class="code-span">A verification code will be sent to your email</span>
                        <div class="form-buttons">
                            <button class="back-button" nz-button>Back</button>
                            <button class="next-button" nz-button nzType="primary" (click)="goToVerification()">Confirm</button>
                        </div>
                    </form>
                </nz-card>
            </div>
            <div class="hide" nz-col nzLg="8" nzXl="8" nzOffset="4">
                <img nz-image nzSrc="assets/images/reset.png" alt="1">
            </div>
        </div>
    </nz-content>