<!-- 
<a routerLink="/login">Login</a>
<router-outlet></router-outlet>

<a routerLink="/signup">Sign-up</a>

<router-outlet></router-outlet>

<a routerLink="/store">Store</a>

<router-outlet></router-outlet>

<a routerLink="/reset-password">reset-password</a>

<router-outlet></router-outlet>

<a routerLink="/order">Order</a>

<router-outlet></router-outlet> -->
<nav>
    <a routerLink="/login">Login</a>
    <a routerLink="/signup">Sign-up</a>
    <a routerLink="/store">Store</a>
    <a routerLink="/reset-password">Reset Password</a>
    <a routerLink="/order">Order</a>
    <a routerLink="/pricing">Pricing</a>

  </nav>
  
  <router-outlet></router-outlet>