<nz-layout [dir]="isRtl ? 'rtl' : 'ltr'" >
    <nz-header>
        <div class="logo">
            <img nz-image nzSrc="assets/images/logo.png" alt="logo">
        </div>
        <button class="dropdown-but" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
          <span class="fi fi-us fis"></span>
          <span class="language">En</span>
          <span nz-icon nzType="down" nzTheme="outline"></span>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item><span class="fi fi-us fis"></span>En</li>
            <li nz-menu-item> <span class="fi fi-sa fis"></span>العربية</li>
            <li nz-menu-item><span class="fi fi-fr fis"></span>French</li>
            <li nz-menu-item><span class="fi fi-de fis"></span>German</li>
            <li nz-menu-item><span class="fi fi-it fis"></span>Italian</li>
            <li nz-menu-item><span class="fi fi-cn fis"></span>Chinese</li>
          </ul>
        </nz-dropdown-menu>
    </nz-header>
    <nz-content>
        <div class="card-info">
            <p>Set up a new password</p>
            <form nz-form nzLayout="vertical" class="login-form" [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label class="label" nzFor="password">Password</nz-form-label>
                <nz-form-control  nzErrorTip="Please input your password!">
                    <nz-input-group  class="input-" [nzSuffix]="suffixIconEye">
                  <input nz-input type="password" id="password"formControlName="password" />
                </nz-input-group>
                <ng-template #suffixIconEye>
                    <span nz-icon nzType="eye-invisible"></span>
                  </ng-template>
                </nz-form-control>
                <span class="password-span">Password must be at least 8 characters</span>

              </nz-form-item>
              <nz-form-item>
                <nz-form-label  class="label" nzFor="checkPassword" >Confirm Password</nz-form-label>
                <nz-form-control nzErrorTip="Two passwords that you enter is inconsistent!">
                    <nz-input-group  class="input-" [nzSuffix]="suffixIconEye">
                  <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
                </nz-input-group>
                <ng-template #suffixIconEye>
                    <span nz-icon nzType="eye-invisible"></span>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
        </form>
        <button class="confirm" nz-button>Confirm</button>

        </div>
    </nz-content>