<nz-layout [dir]="isRtl ? 'rtl' : 'ltr'">
    <nz-header>
      <div class="logo">
        <img nz-image nzSrc="assets/images/logo.png" alt="logo">
      </div>
      <button class="dropdown-but" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <span class="fi" [ngClass]="getFlagIconClass()"></span>
        <span class="language">{{ isRtl ? 'العربية' : 'En' }}</span>
        <span nz-icon nzType="down" nzTheme="outline"></span>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="switchToRtl('en')"><span class="fi fi-us fis"></span>En</li>
          <li nz-menu-item (click)="switchToRtl('ar')"> <span class="fi fi-sa fis"></span>العربية</li>
          <li nz-menu-item><span class="fi fi-fr fis"></span>French</li>
          <li nz-menu-item><span class="fi fi-de fis"></span>German</li>
          <li nz-menu-item><span class="fi fi-it fis"></span>Italian</li>
          <li nz-menu-item><span class="fi fi-cn fis"></span>Chinese</li>
        </ul>
      </nz-dropdown-menu>
    </nz-header>
  
    <nz-content>
      <div nz-row class="row">
  
        <div class="unhide" nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="12" nzXl="12">
  
          <nz-card class="form-card">
  
            <div class="first">
              <span class="first-login">Sign up</span>
              <span class="first-welcome">Welcome! please Enter Your Data Here</span>
            </div>
  
            <form nz-form nzLayout="vertical" [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
              <nz-form-item>
                <nz-form-label
                  style="font-size: 16px !important;font-weight: 400 !important;line-height: 24px !important;letter-spacing: 0px !important;"
                  class="label" nzFor="name">Name</nz-form-label>
                <nz-form-control nzErrorTip="Please input your name!">
                  <input class="input-" nz-input formControlName="name" id="name" />
                </nz-form-control>
              </nz-form-item>
  
              <nz-form-item>
                <nz-form-label
                  style="font-size: 16px !important;font-weight: 400 !important;line-height: 24px !important;letter-spacing: 0px !important;"
                  class="label" nzFor="email">E-mail</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <input class="input-" nz-input formControlName="email" id="email" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label
                  style="font-size: 16px !important;font-weight: 400 !important;line-height: 24px !important;letter-spacing: 0px !important;"
                  class="label" nzFor="password">Password</nz-form-label>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <nz-input-group class="input-" [nzSuffix]="suffixIconEye">
                    <input nz-input type="password" id="password" formControlName="password" />
                  </nz-input-group>
                  <ng-template #suffixIconEye>
                    <span nz-icon nzType="eye"></span>
                  </ng-template>
                  <div class="forget">
                    <p class="login-form-forgot">Password must be at least 8 characters</p>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label
                  style="font-size: 16px !important;font-weight: 400 !important;line-height: 24px !important;letter-spacing: 0px !important;"
                  class="label" nzFor="phoneNumber">Phone Number</nz-form-label>
                <nz-form-control nzErrorTip="Please input your phone number!">
                  <nz-input-group class="input-" [nzSuffix]="prefixTemplateUser">
  
                    <input type="text" nz-input placeholder="1+" />
                  </nz-input-group>
                  <ng-template #prefixTemplateUser>
                    <button class="phone" nz-dropdown nzTrigger="click">
                      <span class="down" nz-icon nzType="down"></span>
                      <span class="fi fi-us fis"></span>
                      <!-- <span class="line" nz-icon nzType="line" [nzRotate]="'90'"></span> -->
                    </button>
                  </ng-template>
  
                  <!-- <nz-input-group class="input-" [nzPrefix]="prefixTemplateUser">
                          <input type="text" nz-input placeholder="+1" />
                        </nz-input-group>
                        <ng-template #prefixTemplateUser>
                          <span class="input-icon fi fi-us fis"></span><span class="down-icon" nz-icon nzType="down" ></span><span class="line">|</span></ng-template> -->
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="coupon-item"> 
                <nz-form-label
                  style="font-size: 16px !important;font-weight: 400 !important;line-height: 24px !important;letter-spacing: 0px !important;"
                  class="label" nzFor="coupon">Have an invitation coupon?</nz-form-label>
                <div class="coupon">
                  <nz-input-group class="input-" nzPrefix="48557">
                    <input type="text" formControlName="coupon" id="coupon" nz-input />
                  </nz-input-group>
                  <button nz-button nzType="primary" disabled>Confirm</button>
                </div>
              </nz-form-item>
  
  
              <div nz-row class="login-form-margin">
  
              </div>
              <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Register</button>
              <div class="account">
                <span>Have an account?</span>
                <a class="register-now"> Sign in</a>
              </div>
              <div class="invitation-coupon">
                <span>Have an invitation coupon?</span>
              </div>
            </form>
            <div class="container">
              <span><a>Privacy Policy</a></span>
              <span><a>-</a></span>
              <span><a>Terms of Service</a></span>
            </div>
          </nz-card>
        </div>
        <div class="hide" nz-col nzLg="8" nzXl="8" nzOffset="4">
          <img nz-image nzSrc="assets/images/signup.png" alt="1">
        </div>
      </div>
    </nz-content>
  
  </nz-layout>